.App {
  font-family: sans-serif;
  text-align: center;
}
.bc_icon {
  fill: gray;
  transition: fill 300ms ease;
}
.active_toggle.active .orn_vc_path {
  animation: ornVCPath cubic-bezier(0.39, 0.575, 0.565, 1) 2000ms;
  animation-iteration-count: infinite;
}

@keyframes ornVCPath {
  0% {
    fill: #22419a;
  }
  50% {
    fill: red;
  }
  100% {
    fill: #22419a;
  }
}

.orn_quality_icon {
  width: 20px;
}
.orn_quality_icon g {
  transition: fill 600ms ease-out;
}
.btn-primary .orn_quality_icon g {
  fill: #fff;
}
.btn-default .orn_quality_icon g {
  fill: gray;
}
.formRow {
  margin: 0 0px 10px;
}
.formBarRow {
  padding: 0 10px;
  margin: 0 0px 10px;
}
.formField {
  border: 1px solid #22419a;
  border-radius: 5px;
  position: relative;
  margin: 10px 10px;
  padding: 20px 10px 10px;
}
.formField .active_toggle label {
  color: gray;
  transition: color 300ms ease;
  align-self: center;
}
.formField .active_toggle:hover .bc_icon {
  fill: #00ab6f;
  /* #8499d6; */
}
.formField .active_toggle:hover label {
  color: #00ab6f;
}

.formField .active_toggle.active:hover .bc_icon {
  fill: #8499d6;
  /* #8499d6; */
}
.formField .active_toggle.active:hover label {
  color: #8499d6;
}

.formField .active_toggle + .input_body {
  transition: opacity 300ms ease;
  opacity: 1;
}
.formField .active_toggle.active + .input_body {
  transition: opacity 300ms ease;
  opacity: 1;
}
.number_of_users_wrapper {
  margin: 20px 0 !important;
  overflow: hidden;
  border: 1px solid #22419a;
  border-radius: 5px;
  transition: border 300ms ease;
}
.orn_quality_buttons_wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  overflow: hidden;
}

.orn_input {
  border-color: #22419a;
  padding: 5px;
  border-left: 1px solid #22419a;
  border-right: 1px solid #22419a;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.orn_button {
  padding: 5px;
  margin: 0;
  border: 0px;
  text-align: center;
}
.orn_button.btn.btn-default {
  color: #22419a;
  background: #ffffff;
}
.orn_button.btn.btn-primary {
  color: white;
  background: #22419a;
}
/* DIsabled */
.number_of_users_wrapper.disabled {
  border: 1px solid gray;
}
.orn_button.btn:disabled,
.orn_input:disabled {
  color: gray;
  background: #ebebeb;
  cursor: not-allowed;
}
.orn_input:disabled {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.orn_button_group {
  border-radius: 5px;
  border: 1px solid #22419a;
  overflow: hidden;
}
.orn_progress_wrapper {
  border: 1px solid#22419a;
  border-radius: 5px;
}
.orn_progress_bar {
  background: #22419a;
  color: white;
  transition: flex-basis cubic-bezier(0.39, 0.575, 0.565, 1) 500ms;
}
.orn_progress_bar_inner {
  padding: 5px 10px;
  text-align: center;
  /* min-height: 40px; */
  white-space: nowrap;
}
.orn_type_name {
  text-align: center;
}
.orn_type_wrapper {
  margin-top: 10px;
  background: #ffffff;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #22419a;
}
.orn_type_name {
  flex: 1 0;
  margin: 0;
  padding: 10px;
  color: #22419a;
}

.formField .active_toggle.active .bc_icon {
  fill: #22419a;
}
.formField .active_toggle.active label {
  color: #22419a;
}
.bc_img {
  height: 100px;
  width: 100px;
  align-self: center;
  flex: 0 0 100px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: contain;
}
.bc_videoConferencing {
  background-image: url(https://1diz1373d2u3i3cy42n9rz11-wpengine.netdna-ssl.com/wp-content/uploads/2018/08/icon-1-04-100x100.png);
}
.bc_downloadingLargeFiles {
  background-image: url(https://1diz1373d2u3i3cy42n9rz11-wpengine.netdna-ssl.com/wp-content/uploads/2018/08/icon-1-03-100x100.png);
}
.bc_webAndEmail {
  background-image: url(https://1diz1373d2u3i3cy42n9rz11-wpengine.netdna-ssl.com/wp-content/uploads/2018/08/icon-1-07-100x100.png);
}
.bc_mediaFileSharing {
  background-image: url(https://1diz1373d2u3i3cy42n9rz11-wpengine.netdna-ssl.com/wp-content/uploads/2018/08/icon-1-01-100x100.png);
}
.bc_uploadingLargeFiles {
  background-image: url(https://1diz1373d2u3i3cy42n9rz11-wpengine.netdna-ssl.com/wp-content/uploads/2018/08/icon-1-02-100x100.png);
}
.bc_streamingMusicOrVoip {
  background-image: url(https://1diz1373d2u3i3cy42n9rz11-wpengine.netdna-ssl.com/wp-content/uploads/2018/08/icon-1-05-100x100.png);
}
.bc_streamingVideo {
  background-image: url(https://1diz1373d2u3i3cy42n9rz11-wpengine.netdna-ssl.com/wp-content/uploads/2018/08/icon-1-06-100x100.png);
}

.display_flex {
  display: flex;
}

.flex_row {
  margin-left: -5px;
  margin-right: -5px;
  min-width: 100%;
}

.flex_col {
  min-height: 1px;
  padding: 0 5px;
}

.flex_children.both > * {
  flex-grow: 1;
  flex-shrink: 1;
}

.flex_children.grow > * {
  flex-grow: 1;
  flex-shrink: 0;
}

.flex_children.shrink > * {
  flex-grow: 0;
  flex-shrink: 1;
}

.flush_cols > .flex_col {
  padding: 0;
}

.flush_cols.flex_col {
  padding: 0;
}

.flush_row {
  margin-left: 0;
  margin-right: 0;
}

.dir_column {
  flex-direction: column;
}

.dir_column-reverse {
  flex-direction: column-reverse;
}

.dir_row {
  flex-direction: row;
}

.dir_row-reverse {
  flex-direction: row-reverse;
}

.wrap_wrap {
  flex-wrap: wrap;
}

.wrap_nowrap {
  flex-wrap: nowrap;
}

.wrap_reverse {
  flex-wrap: wrap-reverse;
}

.justify_start {
  justify-content: flex-start;
}

.justify_end {
  justify-content: flex-end;
}

.justify_center {
  justify-content: center;
}

.justify_between {
  justify-content: space-between;
}

.justify_around {
  justify-content: space-around;
}

.justify_evenly {
  justify-content: space-evenly;
}

.justify_stretch {
  justify-content: stretch;
}

.items_start {
  align-items: flex-start;
}

.items_end {
  align-items: flex-end;
}

.items_center {
  align-items: center;
}

.items_stretch {
  align-items: stretch;
}

.items_baseline {
  align-items: baseline;
}

.content_start {
  align-content: flex-start;
}

.content_end {
  align-content: flex-end;
}

.content_center {
  align-content: center;
}

.content_between {
  align-content: space-between;
}

.content_around {
  align-content: space-around;
}

.content_evenly {
  align-content: space-evenly;
}

.content_stretch {
  align-content: stretch;
}

@media (min-width: 480px) {
  .orn-flex-col-xs-1 {
    flex-basis: 8.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-2 {
    flex-basis: 16.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-3 {
    flex-basis: 25% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-4 {
    flex-basis: 33.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-5 {
    flex-basis: 41.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-6 {
    flex-basis: 50% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-7 {
    flex-basis: 58.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-8 {
    flex-basis: 66.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-9 {
    flex-basis: 75% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-10 {
    flex-basis: 83.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-11 {
    flex-basis: 91.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-12 {
    flex-basis: 100% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-1.space {
    flex-basis: calc(8.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-2.space {
    flex-basis: calc(16.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-3.space {
    flex-basis: calc(25% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-4.space {
    flex-basis: calc(33.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-5.space {
    flex-basis: calc(41.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-6.space {
    flex-basis: calc(50% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-7.space {
    flex-basis: calc(58.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-8.space {
    flex-basis: calc(66.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-9.space {
    flex-basis: calc(75% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-10.space {
    flex-basis: calc(83.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-11.space {
    flex-basis: calc(91.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-12.space {
    flex-basis: calc(100% - 10px) !important;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .orn-flex-col-sm-1 {
    flex-basis: 8.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-2 {
    flex-basis: 16.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-3 {
    flex-basis: 25% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-4 {
    flex-basis: 33.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-5 {
    flex-basis: 41.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-6 {
    flex-basis: 50% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-7 {
    flex-basis: 58.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-8 {
    flex-basis: 66.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-9 {
    flex-basis: 75% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-10 {
    flex-basis: 83.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-11 {
    flex-basis: 91.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-12 {
    flex-basis: 100% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-1.space {
    flex-basis: calc(8.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-2.space {
    flex-basis: calc(16.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-3.space {
    flex-basis: calc(25% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-4.space {
    flex-basis: calc(33.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-5.space {
    flex-basis: calc(41.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-6.space {
    flex-basis: calc(50% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-7.space {
    flex-basis: calc(58.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-8.space {
    flex-basis: calc(66.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-9.space {
    flex-basis: calc(75% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-10.space {
    flex-basis: calc(83.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-11.space {
    flex-basis: calc(91.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-12.space {
    flex-basis: calc(100% - 10px) !important;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .orn-flex-col-md-1 {
    flex-basis: 8.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-2 {
    flex-basis: 16.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-3 {
    flex-basis: 25% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-4 {
    flex-basis: 33.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-5 {
    flex-basis: 41.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-6 {
    flex-basis: 50% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-7 {
    flex-basis: 58.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-8 {
    flex-basis: 66.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-9 {
    flex-basis: 75% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-10 {
    flex-basis: 83.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-11 {
    flex-basis: 91.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-12 {
    flex-basis: 100% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-1.space {
    flex-basis: calc(8.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-2.space {
    flex-basis: calc(16.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-3.space {
    flex-basis: calc(25% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-4.space {
    flex-basis: calc(33.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-5.space {
    flex-basis: calc(41.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-6.space {
    flex-basis: calc(50% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-7.space {
    flex-basis: calc(58.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-8.space {
    flex-basis: calc(66.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-9.space {
    flex-basis: calc(75% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-10.space {
    flex-basis: calc(83.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-11.space {
    flex-basis: calc(91.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-12.space {
    flex-basis: calc(100% - 10px) !important;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .orn-flex-col-lg-1 {
    flex-basis: 8.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-2 {
    flex-basis: 16.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-3 {
    flex-basis: 25% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-4 {
    flex-basis: 33.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-5 {
    flex-basis: 41.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-6 {
    flex-basis: 50% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-7 {
    flex-basis: 58.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-8 {
    flex-basis: 66.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-9 {
    flex-basis: 75% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-10 {
    flex-basis: 83.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-11 {
    flex-basis: 91.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-12 {
    flex-basis: 100% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-1.space {
    flex-basis: calc(8.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-2.space {
    flex-basis: calc(16.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-3.space {
    flex-basis: calc(25% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-4.space {
    flex-basis: calc(33.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-5.space {
    flex-basis: calc(41.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-6.space {
    flex-basis: calc(50% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-7.space {
    flex-basis: calc(58.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-8.space {
    flex-basis: calc(66.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-9.space {
    flex-basis: calc(75% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-10.space {
    flex-basis: calc(83.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-11.space {
    flex-basis: calc(91.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-12.space {
    flex-basis: calc(100% - 10px) !important;
    margin-bottom: 0;
  }
}
@media (min-width: 1900px) {
  .orn-flex-col-xl-1 {
    flex-basis: 8.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-2 {
    flex-basis: 16.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-3 {
    flex-basis: 25% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-4 {
    flex-basis: 33.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-5 {
    flex-basis: 41.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-6 {
    flex-basis: 50% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-7 {
    flex-basis: 58.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-8 {
    flex-basis: 66.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-9 {
    flex-basis: 75% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-10 {
    flex-basis: 83.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-11 {
    flex-basis: 91.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-12 {
    flex-basis: 100% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-1.space {
    flex-basis: calc(8.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-2.space {
    flex-basis: calc(16.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-3.space {
    flex-basis: calc(25% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-4.space {
    flex-basis: calc(33.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-5.space {
    flex-basis: calc(41.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-6.space {
    flex-basis: calc(50% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-7.space {
    flex-basis: calc(58.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-8.space {
    flex-basis: calc(66.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-9.space {
    flex-basis: calc(75% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-10.space {
    flex-basis: calc(83.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-11.space {
    flex-basis: calc(91.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-12.space {
    flex-basis: calc(100% - 10px) !important;
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .flex_col :global(.form-group) {
    margin-bottom: 0;
  }
}
