.App {
  font-family: sans-serif;
  text-align: center;
}
.orn_form_wrapper {
  /* width: 85%; */
  margin: auto;
  font-family: sans-serif;
  text-align: center;
  border: 2px solid #22419a;
  border-radius: 20px;
  padding: 10px;
  background: #ebebeb;
  background: #22419a;
}
.orn_form_base {
  background: #ebebeb;
  background: #ffffff;
  width: 100%;
  height: 50px;
  border-radius: 10% 25%;
  border: 2px solid #22419a;
  overflow: hidden;
  transform: rotateX(45deg);
  /* box-shadow: 0px 5px 1px 2px rgba(255,255,255,.7) inset, 0px -7px 5px 1px rgba(155,155,155,.4) inset, 0px -5px 2px -5px rgba(55,55,55,.6) inset ;  */
}
.orn_form_base_inner {
  /* border: 2px solid #22419a; */
  height: 100%;
}
.orn_bandwidth_calculator_form {
  border: 0px solid #22419a;
  border-radius: 10px;
  padding: 5px 0 10px;
  background: #ffffff;
  /* box-shadow: 0px 0px 0px 10px #fff; */
}
.bc_icon {
  fill: gray;
  transition: fill 300ms ease;
}
.formField.activeField:hover .orn_vc_path {
  animation: ornVCPath cubic-bezier(0.39, 0.575, 0.565, 1) 2000ms;
  animation-iteration-count: infinite;
}

@keyframes ornVCPath {
  0% {
    fill: #22419a;
  }
  50% {
    fill: red;
  }
  100% {
    fill: #22419a;
  }
}

.orn_quality_icon {
  width: 20px;
}
.orn_quality_icon g {
  transition: fill 600ms ease-out;
}

.btn-default .orn_quality_icon g {
  fill: gray;
}
.formRow {
  margin: 0 0px 0px;
}
.orn_bandwidth_calculator_row_wrapper {
  padding: 5px 5px 0 5px;
  /* margin: 0 10px; */
  /* background: #ffffff; */
}
.formBarRow {
  padding: 0 10px;
  margin: 0 0px 0px;
}
.formField {
  border: 2px solid gray;
  border-radius: 5px;
  position: relative;
  margin: 0px 5px 10px;
  padding: 20px 20px 0px;
  cursor: pointer;
  margin-bottom: 10px !important;
  background: #ffffff;
}
.formField:hover {
  border: 2px solid #8499d6;
  /* #8499d6; */
}
.formField.activeField {
  border: 2px solid #22419a;
}

#root > .App .formField {
  margin-bottom: 10px !important;
  background: #ffffff;
}

.formField .active_toggle label {
  color: gray;
  transition: color 300ms ease;
  align-self: center;
  cursor: text;
}
.formField:hover .active_toggle .bc_icon {
  fill: #8499d6;
  /* #8499d6; */
}
.formField:hover .active_toggle label {
  color: #8499d6;
}
.formField:hover .active_toggle.active .bc_icon {
  fill: #22419a;
  /* cursor: default; */
  /* #8499d6; */
}
/* .bc_img */
.formField:hover .active_toggle.active label {
  color: #22419a;
}

.formField .active_toggle.active .active_toggle_top_left:hover ~ .bc_icon {
  fill: gray;
  /* #8499d6; */
}
.formField .active_toggle.active .active_toggle_top_left:hover + label {
  color: gray;
}

.formField .active_toggle + .input_body {
  transition: opacity 300ms ease;
  opacity: 1;
}
.formField .active_toggle.active + .input_body {
  transition: opacity 300ms ease;
  opacity: 1;
}
.number_of_users_wrapper {
  margin: 20px 0 !important;
  overflow: hidden;
  border: 2px solid #22419a;
  border-radius: 5px;
  transition: border 300ms ease;
}
.orn_quality_buttons_wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  overflow: hidden;
}
.orn_quality_button {
  outline: unset;
}
.orn_input {
  border-color: #22419a;
  padding: 5px;
  border-left: 2px solid #22419a;
  border-right: 2px solid #22419a;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 0;
}
.orn_button {
  padding: 5px;
  margin: 0;
  border: 0px;
  text-align: center;
  cursor: pointer;
}
.orn_button.btn.btn-default {
  color: #22419a;
  background: #ffffff;
}
.orn_button.btn.btn-primary {
  color: white;
  background: #22419a;
}
.orn_bandwidth_calculator_header_row {
  padding: 20px;
  background: #22419a;
  border-radius: 5px 5px 0px 0px;
  /* border: 2px solid #22419a; */
}
.orn_bandwidth_calculator_header_row .orn_bandwidth_calculator_header {
  margin: 0;
  color: #ffffff;
}
/* DIsabled */
.number_of_users_wrapper.disabled {
  border: 2px solid gray;
}
.orn_button.btn:disabled,
.orn_input:disabled {
  color: gray;
  background: #ebebeb;
  cursor: pointer;
}
.orn_input:disabled {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}
.orn_button_group {
  border-radius: 5px;
  border: 2px solid #22419a;
  overflow: hidden;
}
.formField .orn_quality_buttons_wrapper .orn_button_group {
  border: 2px solid gray;
  background: #ebebeb;
}
.formField.activeField .orn_quality_buttons_wrapper .orn_button_group {
  border: 2px solid #22419a;
  background: #22419a;
}
.orn_progress_wrapper {
  border: 2px solid#22419a;
  border-radius: 5px;
  background: #ffffff;
}
.orn_progress_bar {
  background: #22419a;
  color: white;
  transition: flex-basis cubic-bezier(0.39, 0.575, 0.565, 1) 500ms;
}
.orn_progress_bar_inner {
  padding: 5px 10px;
  text-align: center;
  /* min-height: 40px; */
  white-space: nowrap;
}

.orn_type_wrapper {
  margin-top: 10px;
  background: #22419a;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #22419a;
}
.orn_type_name {
  flex: 1 0;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 3em;
  color: #fff;
}

.formField .active_toggle.active .bc_icon {
  fill: #22419a;
}
.formField .active_toggle.active label {
  color: #22419a;
}
.active_toggle_top_left {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 9;
}
.active_toggle_top_left input {
  visibility: hidden;
  display: none;
}
.orn_styled_checkbox {
  width: 18px;
  height: 18px;
  background: gray;
  /* border: 2px solid gray; */
  border-radius: 50%;
  transition: all 300ms ease;
  /* box-shadow: 0 0 0 1px gray; */
  box-shadow: 0 0 0px 2px gray, 0 0 0px 10px #ffffff inset;
}
.active_toggle.active .orn_styled_checkbox {
  /* border: 1px solid #22419a; */
  box-shadow: 0 0 0px 2px #22419a, 0 0 0 3px #ffffff inset;
  background: #22419a;
}
.active_toggle .orn_styled_checkbox:hover {
  box-shadow: 0 0 0px 2px #8499d6, 0 0 0 5px #ffffff inset;
  background: #8499d6;
}
.formField:hover .active_toggle.active .orn_styled_checkbox {
  box-shadow: 0 0 0px 2px #22419a, 0 0 0 3px #ffffff inset;
  background: #22419a;
}
.formField .active_toggle.active .orn_styled_checkbox:hover {
  box-shadow: 0 0 0px 2px gray, 0 0 0 5px #ffffff inset;
  background: gray;
}
.formField .active_toggle.active:hover .orn_styled_checkbox {
  box-shadow: 0 0 0px 2px gray, 0 0 0 5px #ffffff inset;
  background: gray;
}

.formField:hover .active_toggle .orn_styled_checkbox {
  box-shadow: 0 0 0px 2px #8499d6, 0 0 0 5px #ffffff inset;
  background: #8499d6;
}

.formField .orn_button.orn_quality_button {
  background: #ebebeb;
}
.formField .orn_button.orn_quality_button .orn_quality_icon g {
  fill: gray;
}

.formField.activeField .orn_quality_button.option_active {
  background: #22419a;
}
.formField.activeField .orn_quality_button.option_active .orn_quality_icon g {
  fill: #ffffff;
}

.orn_quality_button.option_active:hover {
}
.formField.activeField .orn_quality_button.option_not_active:hover {
  background: #ffffff;
}
.orn_quality_button.option_not_active:hover .orn_quality_icon g {
  fill: #8499d6;
}
.orn_uploadingLargeFiles_anim {
  /* transition: stroke-width ease 300ms, stroke ease 300ms, fill ease 300ms; */
}
.orn_voip_anim_1 {
}
.orn_voip_anim_2 {
}
.orn_streamingMusic_anim {
}
.formField.activeField .orn_arrow_anim {
  stroke-width: 0;
  stroke: transparent;
  transition: transform 300ms ease;
}
.formField.activeField:hover .orn_arrow_anim {
  /* fill: rgba(0, 163, 82, .9); */
  animation: arrow_anim cubic-bezier(0.39, 0.575, 0.565, 1) 2000ms;
  animation-iteration-count: infinite;
}
.formField.activeField:hover .orn_arrow_anim.sun {
  /* fill: rgba(0, 163, 82, .9); */
  animation: arrow_anim_sun cubic-bezier(0.39, 0.575, 0.565, 1) 2000ms;
  animation-iteration-count: infinite;
}
.formField.activeField:hover .orn_arrow_anim.burn {
  /* fill: rgba(0, 163, 82, .9); */
  animation: arrow_anim_burn cubic-bezier(0.39, 0.575, 0.565, 1) 2000ms;
  animation-iteration-count: infinite;
}
.formField.activeField:hover .orn_arrow_anim.yellow {
  /* fill: rgba(0, 163, 82, .9); */
  animation: arrow_anim_yellow cubic-bezier(0.39, 0.575, 0.565, 1) 2000ms;
  animation-iteration-count: infinite;
}
.formField.activeField:hover .orn_arrow_anim.more_stroke {
  /* fill: rgba(0, 163, 82, .9); */
  animation: arrow_anim_more_stroke cubic-bezier(0.39, 0.575, 0.565, 1) 4000ms;
  animation-iteration-count: infinite;
}

.formField.activeField:hover .orn_arrow_anim.second {
  animation-delay: 250ms;
}
.formField.activeField:hover .orn_arrow_anim.third {
  animation-delay: 500ms;
}
.formField.activeField:hover .orn_arrow_anim.fourth {
  animation-delay: 750ms;
}
.formField.activeField:hover .orn_arrow_anim.fifth {
  animation-delay: 1000ms;
}
.formField.activeField:hover .orn_arrow_anim.sixth {
  animation-delay: 1250ms;
}
.formField.activeField:hover .orn_arrow_anim.fast {
  animation-duration: 1500ms;
}

.formField.activeField:hover .orn_arrow_anim.second.fast {
  animation-delay: 500ms;
}
.formField.activeField:hover .orn_arrow_anim.third.fast {
  animation-delay: 750ms;
}

@keyframes arrow_anim {
  0% {
    stroke: rgba(0, 84, 166, 0);
    fill: #22419a;
    stroke-width: 0;
  }
  50% {
    stroke: rgba(0, 84, 166, 0.9);
    fill: #0054a6;
    stroke-width: 1px;
  }
  100% {
    stroke: rgba(0, 84, 166, 0);
    fill: #22419a;
    stroke-width: 0;
  }
}
@keyframes arrow_anim_more_stroke {
  0% {
    stroke: rgba(0, 84, 166, 0);
    fill: #22419a;
    stroke-width: 0;
  }
  25% {
    stroke: rgba(0, 84, 166, 0.4);
    fill: rgba(0, 84, 166, 1);
    stroke-width: 5px;
  }
  35% {
    stroke: rgba(0, 84, 166, 0.45);
    fill: #22419a;
    stroke-width: 7px;
  }
  40% {
    stroke: rgba(0, 84, 166, 0.45);
    fill: #22419a;
    stroke-width: 4px;
  }
  50% {
    stroke: rgba(0, 84, 166, 0.45);
    fill: #22419a;
    stroke-width: 8px;
  }
  75% {
    stroke: rgba(0, 84, 166, 0.4);
    fill: rgba(0, 84, 166, 1);
    stroke-width: 5px;
  }
  100% {
    stroke: rgba(0, 84, 166, 0);
    fill: #22419a;
    stroke-width: 10px;
  }
}
@keyframes arrow_anim_burn {
  0% {
    stroke: rgba(252, 6, 6, 0);
    fill: #22419a;
    stroke-width: 0;
  }
  50% {
    stroke: rgba(252, 6, 6, 0.6);
    fill: rgba(252, 6, 6, 1);
    stroke-width: 1px;
  }
  100% {
    stroke: rgba(252, 6, 6, 0);
    fill: #22419a;
    stroke-width: 0;
  }
}
@keyframes arrow_anim_yellow {
  0% {
    stroke: rgba(255, 169, 10, 0);
    fill: #22419a;
    stroke-width: 0;
  }
  50% {
    stroke: rgba(255, 169, 10, 0.6);
    fill: rgba(255, 169, 10, 1);
    stroke-width: 1px;
  }
  100% {
    stroke: rgba(255, 169, 10, 0.15);
    fill: #22419a;
    stroke-width: 0;
  }
}

@keyframes arrow_anim_sun {
  0% {
    stroke: rgba(255, 169, 10, 0.15);
    fill: #d3b610;
    stroke-width: 4px;
  }
  50% {
    stroke: rgba(255, 169, 10, 0.35);
    fill: #c59b11;
    stroke-width: 8px;
  }
  100% {
    stroke: rgba(255, 169, 10, 0.15);
    fill: #d3b610;
    stroke-width: 4px;
  }
}

.bc_img {
  height: 100px;
  width: 100px;
  align-self: center;
  flex: 0 0 100px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: contain;
}
.bc_videoConferencing {
  background-image: url(https://1diz1373d2u3i3cy42n9rz11-wpengine.netdna-ssl.com/wp-content/uploads/2018/08/icon-1-04-100x100.png);
}
.bc_downloadingLargeFiles {
  background-image: url(https://1diz1373d2u3i3cy42n9rz11-wpengine.netdna-ssl.com/wp-content/uploads/2018/08/icon-1-03-100x100.png);
}
.bc_webAndEmail {
  background-image: url(https://1diz1373d2u3i3cy42n9rz11-wpengine.netdna-ssl.com/wp-content/uploads/2018/08/icon-1-07-100x100.png);
}
.bc_mediaFileSharing {
  background-image: url(https://1diz1373d2u3i3cy42n9rz11-wpengine.netdna-ssl.com/wp-content/uploads/2018/08/icon-1-01-100x100.png);
}
.bc_uploadingLargeFiles {
  background-image: url(https://1diz1373d2u3i3cy42n9rz11-wpengine.netdna-ssl.com/wp-content/uploads/2018/08/icon-1-02-100x100.png);
}
.bc_streamingMusicOrVoip {
  background-image: url(https://1diz1373d2u3i3cy42n9rz11-wpengine.netdna-ssl.com/wp-content/uploads/2018/08/icon-1-05-100x100.png);
}
.bc_streamingVideo {
  background-image: url(https://1diz1373d2u3i3cy42n9rz11-wpengine.netdna-ssl.com/wp-content/uploads/2018/08/icon-1-06-100x100.png);
}

.display_flex {
  display: flex;
}

.flex_row {
  margin-left: -5px;
  margin-right: -5px;
  min-width: 100%;
}

.flex_col {
  min-height: 1px;
  padding: 0 5px;
}

.flex_children.both > * {
  flex-grow: 1;
  flex-shrink: 1;
}

.flex_children.grow > * {
  flex-grow: 1;
  flex-shrink: 0;
}

.flex_children.shrink > * {
  flex-grow: 0;
  flex-shrink: 1;
}

.flush_cols > .flex_col {
  padding: 0;
}

.flush_cols.flex_col {
  padding: 0;
}

.flush_row {
  margin-left: 0;
  margin-right: 0;
}

.dir_column {
  flex-direction: column;
}

.dir_column-reverse {
  flex-direction: column-reverse;
}

.dir_row {
  flex-direction: row;
}

.dir_row-reverse {
  flex-direction: row-reverse;
}

.wrap_wrap {
  flex-wrap: wrap;
}

.wrap_nowrap {
  flex-wrap: nowrap;
}

.wrap_reverse {
  flex-wrap: wrap-reverse;
}

.justify_start {
  justify-content: flex-start;
}

.justify_end {
  justify-content: flex-end;
}

.justify_center {
  justify-content: center;
}

.justify_between {
  justify-content: space-between;
}

.justify_around {
  justify-content: space-around;
}

.justify_evenly {
  justify-content: space-evenly;
}

.justify_stretch {
  justify-content: stretch;
}

.items_start {
  align-items: flex-start;
}

.items_end {
  align-items: flex-end;
}

.items_center {
  align-items: center;
}

.items_stretch {
  align-items: stretch;
}

.items_baseline {
  align-items: baseline;
}

.content_start {
  align-content: flex-start;
}

.content_end {
  align-content: flex-end;
}

.content_center {
  align-content: center;
}

.content_between {
  align-content: space-between;
}

.content_around {
  align-content: space-around;
}

.content_evenly {
  align-content: space-evenly;
}

.content_stretch {
  align-content: stretch;
}

@media (min-width: 480px) {
  .orn-flex-col-xs-1 {
    flex-basis: 8.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-2 {
    flex-basis: 16.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-3 {
    flex-basis: 25% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-4 {
    flex-basis: 33.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-5 {
    flex-basis: 41.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-6 {
    flex-basis: 50% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-7 {
    flex-basis: 58.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-8 {
    flex-basis: 66.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-9 {
    flex-basis: 75% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-10 {
    flex-basis: 83.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-11 {
    flex-basis: 91.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-12 {
    flex-basis: 100% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-1.space {
    flex-basis: calc(8.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-2.space {
    flex-basis: calc(16.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-3.space {
    flex-basis: calc(25% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-4.space {
    flex-basis: calc(33.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-5.space {
    flex-basis: calc(41.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-6.space {
    flex-basis: calc(50% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-7.space {
    flex-basis: calc(58.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-8.space {
    flex-basis: calc(66.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-9.space {
    flex-basis: calc(75% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-10.space {
    flex-basis: calc(83.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-11.space {
    flex-basis: calc(91.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xs-12.space {
    flex-basis: calc(100% - 10px) !important;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .orn-flex-col-sm-1 {
    flex-basis: 8.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-2 {
    flex-basis: 16.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-3 {
    flex-basis: 25% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-4 {
    flex-basis: 33.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-5 {
    flex-basis: 41.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-6 {
    flex-basis: 50% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-7 {
    flex-basis: 58.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-8 {
    flex-basis: 66.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-9 {
    flex-basis: 75% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-10 {
    flex-basis: 83.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-11 {
    flex-basis: 91.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-12 {
    flex-basis: 100% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-1.space {
    flex-basis: calc(8.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-2.space {
    flex-basis: calc(16.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-3.space {
    flex-basis: calc(25% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-4.space {
    flex-basis: calc(33.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-5.space {
    flex-basis: calc(41.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-6.space {
    flex-basis: calc(50% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-7.space {
    flex-basis: calc(58.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-8.space {
    flex-basis: calc(66.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-9.space {
    flex-basis: calc(75% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-10.space {
    flex-basis: calc(83.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-11.space {
    flex-basis: calc(91.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-sm-12.space {
    flex-basis: calc(100% - 10px) !important;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .orn-flex-col-md-1 {
    flex-basis: 8.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-2 {
    flex-basis: 16.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-3 {
    flex-basis: 25% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-4 {
    flex-basis: 33.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-5 {
    flex-basis: 41.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-6 {
    flex-basis: 50% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-7 {
    flex-basis: 58.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-8 {
    flex-basis: 66.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-9 {
    flex-basis: 75% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-10 {
    flex-basis: 83.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-11 {
    flex-basis: 91.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-12 {
    flex-basis: 100% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-1.space {
    flex-basis: calc(8.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-2.space {
    flex-basis: calc(16.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-3.space {
    flex-basis: calc(25% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-4.space {
    flex-basis: calc(33.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-5.space {
    flex-basis: calc(41.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-6.space {
    flex-basis: calc(50% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-7.space {
    flex-basis: calc(58.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-8.space {
    flex-basis: calc(66.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-9.space {
    flex-basis: calc(75% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-10.space {
    flex-basis: calc(83.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-11.space {
    flex-basis: calc(91.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-md-12.space {
    flex-basis: calc(100% - 10px) !important;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .orn-flex-col-lg-1 {
    flex-basis: 8.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-2 {
    flex-basis: 16.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-3 {
    flex-basis: 25% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-4 {
    flex-basis: 33.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-5 {
    flex-basis: 41.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-6 {
    flex-basis: 50% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-7 {
    flex-basis: 58.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-8 {
    flex-basis: 66.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-9 {
    flex-basis: 75% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-10 {
    flex-basis: 83.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-11 {
    flex-basis: 91.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-12 {
    flex-basis: 100% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-1.space {
    flex-basis: calc(8.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-2.space {
    flex-basis: calc(16.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-3.space {
    flex-basis: calc(25% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-4.space {
    flex-basis: calc(33.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-5.space {
    flex-basis: calc(41.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-6.space {
    flex-basis: calc(50% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-7.space {
    flex-basis: calc(58.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-8.space {
    flex-basis: calc(66.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-9.space {
    flex-basis: calc(75% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-10.space {
    flex-basis: calc(83.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-11.space {
    flex-basis: calc(91.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-lg-12.space {
    flex-basis: calc(100% - 10px) !important;
    margin-bottom: 0;
  }
}
@media (min-width: 1900px) {
  .orn-flex-col-xl-1 {
    flex-basis: 8.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-2 {
    flex-basis: 16.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-3 {
    flex-basis: 25% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-4 {
    flex-basis: 33.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-5 {
    flex-basis: 41.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-6 {
    flex-basis: 50% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-7 {
    flex-basis: 58.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-8 {
    flex-basis: 66.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-9 {
    flex-basis: 75% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-10 {
    flex-basis: 83.3333333333% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-11 {
    flex-basis: 91.6666666667% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-12 {
    flex-basis: 100% !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-1.space {
    flex-basis: calc(8.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-2.space {
    flex-basis: calc(16.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-3.space {
    flex-basis: calc(25% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-4.space {
    flex-basis: calc(33.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-5.space {
    flex-basis: calc(41.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-6.space {
    flex-basis: calc(50% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-7.space {
    flex-basis: calc(58.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-8.space {
    flex-basis: calc(66.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-9.space {
    flex-basis: calc(75% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-10.space {
    flex-basis: calc(83.3333333333% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-11.space {
    flex-basis: calc(91.6666666667% - 10px) !important;
    margin-bottom: 0;
  }

  .orn-flex-col-xl-12.space {
    flex-basis: calc(100% - 10px) !important;
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .flex_col :global(.form-group) {
    margin-bottom: 0;
  }
}
